common-soap/src/main/resources/wsnbroker/wsnbrokerout.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WSNBrokerDefinitions"
    targetNamespace="http://oscars.es.net/OSCARS/wsnbroker"
    xmlns:tns="http://oscars.es.net/OSCARS/wsnbroker"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
    xmlns:wsnt-br="http://docs.oasis-open.org/wsn/br-2"
    xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2">

    <wsdl:documentation>
        This is WSDL for the OSCARS Notification Broker interface.
    </wsdl:documentation>
    
    <!-- Import security policy -->
    <wsdl:import namespace="http://oscars.es.net/OSCARS/policy"
                  location="../api/sec-policy.wsdl"/>
                  
    <!-- Element definitons -->
    <wsdl:types>
        
        <xsd:schema targetNamespace="http://oscars.es.net/OSCARS/wsnbroker"
                    elementFormDefault="qualified"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import
                namespace="http://docs.oasis-open.org/wsn/b-2" 
                schemaLocation="../api/b-2-idc-0.6.xsd"/>

            <xsd:import
                namespace="http://docs.oasis-open.org/wsn/br-2" 
                schemaLocation="../api/br-2-idc-0.6.xsd"/>

            <xsd:import
                namespace="http://docs.oasis-open.org/wsrf/r-2" 
                schemaLocation="../api/r-2-idc.xsd"/>
                
        </xsd:schema>
    </wsdl:types>

    <!--   Message definitions -->
    <!-- ================ NotificationConsumer::Notify ================ 
      Notify(
        NotificationMessage
          (SubscriptionReference, TopicExpression, ProducerReference,
           Message)*
      returns: n/a (one way)
    -->
    <wsdl:message name="Notify">
        <wsdl:part name="Notify" element="wsnt:Notify"/>
    </wsdl:message>
    
    <!-- ============== NotificationProducer::Subscribe =============== 
      Subscribe(
       (ConsumerEndpointReference, [Filter], [SubscriptionPolicy], 
       [InitialTerminationTime])   
      returns: WS-Resource qualified EPR to a Subscription
    -->
    <wsdl:message name="SubscribeRequest" >
        <wsdl:part name="SubscribeRequest" 
                element="wsnt:Subscribe"/>
    </wsdl:message>
    
    <wsdl:message name="SubscribeResponse">
        <wsdl:part name="SubscribeResponse" 
                 element="wsnt:SubscribeResponse"/>
    </wsdl:message>
    
    <wsdl:message name="SubscribeCreationFailedFault">
        <wsdl:part name="SubscribeCreationFailedFault"
            element="wsnt:SubscribeCreationFailedFault" />
    </wsdl:message> 
    
    <wsdl:message name="TopicExpressionDialectUnknownFault">
        <wsdl:part name="TopicExpressionDialectUnknownFault"
            element="wsnt:TopicExpressionDialectUnknownFault" />
    </wsdl:message> 
    
    <wsdl:message name="InvalidFilterFault">
        <wsdl:part name="InvalidFilterFault"
            element="wsnt:InvalidFilterFault" />
    </wsdl:message> 
    
    <wsdl:message name="InvalidProducerPropertiesExpressionFault">
        <wsdl:part name="InvalidProducerPropertiesExpressionFault"
            element="wsnt:InvalidProducerPropertiesExpressionFault" />
    </wsdl:message> 
    
    <wsdl:message name="InvalidMessageContentExpressionFault">
        <wsdl:part name="InvalidMessageContentExpressionFault"
            element="wsnt:InvalidMessageContentExpressionFault" />
    </wsdl:message> 
    
    <wsdl:message name="UnrecognizedPolicyRequestFault">
        <wsdl:part name="UnrecognizedPolicyRequestFault"
            element="wsnt:UnrecognizedPolicyRequestFault" />
    </wsdl:message> 
    
    <wsdl:message name="UnsupportedPolicyRequestFault">
        <wsdl:part name="UnsupportedPolicyRequestFault"
            element="wsnt:UnsupportedPolicyRequestFault" />
    </wsdl:message> 
    
    <wsdl:message name="NotifyMessageNotSupportedFault">
        <wsdl:part name="NotifyMessageNotSupportedFault"
            element="wsnt:NotifyMessageNotSupportedFault" />
    </wsdl:message> 
    
    <wsdl:message name="UnacceptableInitialTerminationTimeFault">
        <wsdl:part name="UnacceptableInitialTerminationTimeFault"
            element="wsnt:UnacceptableInitialTerminationTimeFault"/>
    </wsdl:message> 
   
   <wsdl:message name="InvalidTopicExpressionFault">
        <wsdl:part name="InvalidTopicExpressionFault"
            element="wsnt:InvalidTopicExpressionFault" />
    </wsdl:message> 
    
    <wsdl:message name="TopicNotSupportedFault">
        <wsdl:part name="TopicNotSupportedFault"
            element="wsnt:TopicNotSupportedFault" />
    </wsdl:message> 
    
    <!-- ================ SubscriptionManager::Renew ==================
       Renew( Duration | AbsoluteTime)
       returns: (New Termination Time [CurrentTime])
    -->
    <wsdl:message name="RenewRequest">
        <wsdl:part name="RenewRequest" 
                 element="wsnt:Renew"/>
    </wsdl:message>
    
    <wsdl:message name="RenewResponse">
        <wsdl:part name="RenewResponse" 
                 element="wsnt:RenewResponse"/>
    </wsdl:message>
    
    <wsdl:message name="UnacceptableTerminationTimeFault">
        <wsdl:part name="UnacceptableTerminationTimeFault"
            element="wsnt:UnacceptableTerminationTimeFault" />
    </wsdl:message>
    
    <!-- ============== SubscriptionManager::Unsubscribe ===============
       Unsubscribe()
       returns: empty
    -->
    <wsdl:message name="UnsubscribeRequest">
        <wsdl:part name="UnsubscribeRequest" 
                 element="wsnt:Unsubscribe"/>
    </wsdl:message>
    
    <wsdl:message name="UnsubscribeResponse">
        <wsdl:part name="UnsubscribeResponse" 
                 element="wsnt:UnsubscribeResponse"/>
    </wsdl:message>
    
    <wsdl:message name="UnableToDestroySubscriptionFault">
        <wsdl:part name="UnableToDestroySubscriptionFault"
            element="wsnt:UnableToDestroySubscriptionFault" />
    </wsdl:message>
    
    <!-- ========== SubscriptionManager::PauseSubscription ============
       PauseSubscription()
       returns: empty
    -->
    <wsdl:message name="PauseSubscriptionRequest">
        <wsdl:part name="PauseSubscriptionRequest" 
                 element="wsnt:PauseSubscription"/>
    </wsdl:message>
    
    <wsdl:message name="PauseSubscriptionResponse">
        <wsdl:part name="PauseSubscriptionResponse" 
                 element="wsnt:PauseSubscriptionResponse"/>
    </wsdl:message>
    
    <wsdl:message name="PauseFailedFault">
        <wsdl:part name="PauseFailedFault"
            element="wsnt:PauseFailedFault" />
    </wsdl:message>

    <!-- ========= SubscriptionManager::ResumeSubscription ============
       ResumeSubscription()
       returns: empty
    -->
    <wsdl:message name="ResumeSubscriptionRequest">
        <wsdl:part name="ResumeSubscriptionRequest" 
                 element="wsnt:ResumeSubscription"/>
    </wsdl:message>
    
    <wsdl:message name="ResumeSubscriptionResponse">
        <wsdl:part name="ResumeSubscriptionResponse" 
                 element="wsnt:ResumeSubscriptionResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ResumeFailedFault">
        <wsdl:part name="ResumeFailedFault"
            element="wsnt:ResumeFailedFault" />
    </wsdl:message>

    <!-- ========== NotificationBroker::RegisterPublisher =============
   RegisterPublisher(PublisherReference, TopicExpression* ,
                     [Demand], [InitialTerminationTime])
   returns: WS-Resource qualified EPR to a PublisherRegistration --> 
   <wsdl:message name="RegisterPublisherRequest">
      <wsdl:part name="RegisterPublisherRequest" 
                 element="wsnt-br:RegisterPublisher"/>
   </wsdl:message>

   <wsdl:message name="RegisterPublisherResponse">
      <wsdl:part name="RegisterPublisherResponse" 
                 element="wsnt-br:RegisterPublisherResponse"/>
   </wsdl:message>
      
   <wsdl:message name="PublisherRegistrationRejectedFault">
      <wsdl:part name="PublisherRegistrationRejectedFault"             
            element="wsnt-br:PublisherRegistrationRejectedFault"/>
   </wsdl:message> 

   <wsdl:message name="PublisherRegistrationFailedFault">
      <wsdl:part name="PublisherRegistrationFailedFault"
            element="wsnt-br:PublisherRegistrationFailedFault"/>
   </wsdl:message> 

   <wsdl:message name="DestroyRegistrationRequest">
      <wsdl:part name="DestroyRegistrationRequest" 
            element="wsnt-br:DestroyRegistration"/>
   </wsdl:message>

   <wsdl:message name="DestroyRegistrationResponse">
      <wsdl:part name="DestroyRegistrationResponse"
            element="wsnt-br:DestroyRegistrationResponse"/>
   </wsdl:message>

   <wsdl:message name="ResourceNotDestroyedFault">
      <wsdl:part name="ResourceNotDestroyedFault"
            element="wsnt-br:ResourceNotDestroyedFault"/>
   </wsdl:message> 

   <!-- ================= WS-Resource faults ========================= -->
   <wsdl:message name="ResourceUnknownFault">
    <wsdl:part name="ResourceUnknownFault"
           element="wsrf-r:ResourceUnknownFault" />
  </wsdl:message> 
    
  <wsdl:portType name="WSNBrokerPortType">
        <wsdl:operation name="Notify">
            <wsdl:input message="tns:Notify" />
        </wsdl:operation>
        
        <wsdl:operation name="Subscribe">
            <wsdl:input  message="tns:SubscribeRequest" />
            <wsdl:output message="tns:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault" 
                      message="tns:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault" 
                      message="tns:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                      message="tns:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault" 
                      message="tns:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault" 
                      message="tns:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault" 
                      message="tns:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault" 
                      message="tns:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault" 
                      message="tns:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault" 
                      message="tns:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault" 
                      message="tns:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault" 
                      message="tns:SubscribeCreationFailedFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="Renew">
            <wsdl:input  name="RenewRequest" 
                      message="tns:RenewRequest" />
            <wsdl:output name="RenewResponse" 
                      message="tns:RenewResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="UnacceptableTerminationTimeFault" 
                      message=
                      "tns:UnacceptableTerminationTimeFault" />    
        </wsdl:operation>
        
        <wsdl:operation name="Unsubscribe">
            <wsdl:input  name="UnsubscribeRequest" 
                      message="tns:UnsubscribeRequest" />
            <wsdl:output name="UnsubscribeResponse" 
                      message="tns:UnsubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="UnableToDestroySubscriptionFault" 
                      message=
                      "tns:UnableToDestroySubscriptionFault" />
        </wsdl:operation>
        
        <wsdl:operation name="PauseSubscription">
            <wsdl:input  message="tns:PauseSubscriptionRequest"/>
            <wsdl:output message="tns:PauseSubscriptionResponse"/>
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="PauseFailedFault"
                      message="tns:PauseFailedFault" />     
        </wsdl:operation>
        
        <wsdl:operation name="ResumeSubscription">
            <wsdl:input  message="tns:ResumeSubscriptionRequest"/>
            <wsdl:output message="tns:ResumeSubscriptionResponse"/>
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="ResumeFailedFault"
                      message="tns:ResumeFailedFault" />   
        </wsdl:operation>
        
        <wsdl:operation name="RegisterPublisher">
            <wsdl:input  message="tns:RegisterPublisherRequest"/>
            <wsdl:output message="tns:RegisterPublisherResponse"/>
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidTopicExpressionFault" 
                         message="tns:InvalidTopicExpressionFault"/>
            <wsdl:fault  name="TopicNotSupportedFault" 
                         message="tns:TopicNotSupportedFault"/>
            <wsdl:fault  name="PublisherRegistrationRejectedFault" 
                    message="tns:PublisherRegistrationRejectedFault"/>
            <wsdl:fault  name="PublisherRegistrationFailedFault" 
                    message="tns:PublisherRegistrationFailedFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault" 
                 message="tns:UnacceptableInitialTerminationTimeFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="DestroyRegistration">
            <wsdl:input  name="DestroyRegistrationRequest" 
                          message="tns:DestroyRegistrationRequest" />
            <wsdl:output name="DestroyRegistrationResponse" 
                          message="tns:DestroyRegistrationResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                      message="tns:ResourceUnknownFault" />
            <wsdl:fault  name="ResourceNotDestroyedFault" 
                          message="tns:ResourceNotDestroyedFault" />
        </wsdl:operation>
        
    </wsdl:portType>

    <wsdl:binding name="WSNBrokerBinding" type="tns:WSNBrokerPortType">
    
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
            
        <wsdl:operation name="Notify">
            <soap:operation
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/Notify" />
            <wsdl:input>
                <soap:body use="literal" parts="Notify" />
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="Subscribe">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/Subscribe" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="SubscribeRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="SubscribeResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault name="InvalidFilterFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault name="TopicExpressionDialectUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault name="InvalidTopicExpressionFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault name="TopicNotSupportedFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault name="InvalidMessageContentExpressionFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault name="InvalidProducerPropertiesExpressionFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault name="UnsupportedPolicyRequestFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault name="NotifyMessageNotSupportedFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault name="SubscribeCreationFailedFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="Renew">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/Renew" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="RenewRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="RenewResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnacceptableTerminationTimeFault">
                <soap:fault name="UnacceptableTerminationTimeFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="Unsubscribe">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/Unsubscribe" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="UnsubscribeRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="UnsubscribeResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnableToDestroySubscriptionFault">
                <soap:fault name="UnableToDestroySubscriptionFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="PauseSubscription">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/PauseSubscription" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="PauseSubscriptionRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="PauseSubscriptionResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="PauseFailedFault">
                <soap:fault name="PauseFailedFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="ResumeSubscription">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/ResumeSubscription" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="ResumeSubscriptionRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="ResumeSubscriptionResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="ResumeFailedFault">
                <soap:fault name="ResumeFailedFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="RegisterPublisher">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/RegisterPublisher" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="RegisterPublisherRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="RegisterPublisherResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault name="InvalidTopicExpressionFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault name="TopicNotSupportedFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="PublisherRegistrationRejectedFault">
                <soap:fault name="PublisherRegistrationRejectedFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="PublisherRegistrationFailedFault">
                <soap:fault name="PublisherRegistrationFailedFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault name="UnacceptableInitialTerminationTimeFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DestroyRegistration">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/wsnbroker/DestroyRegistration" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="DestroyRegistrationRequest" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="DestroyRegistrationResponse" />
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault name="ResourceUnknownFault" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="ResourceNotDestroyedFault">
                <soap:fault name="ResourceNotDestroyedFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WSNBrokerService">
        <wsdl:port name="WSNBrokerPort" binding="tns:WSNBrokerBinding">
            <soap:address location="" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
