common-soap/src/main/resources/api/api-internal-0.6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OSCARS"
    targetNamespace="http://oscars.es.net/OSCARS/06"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
    xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    xmlns:com="http://oscars.es.net/OSCARS/common"
    xmlns:tns="http://oscars.es.net/OSCARS/06">

    <wsdl:documentation>
        This is WSDL for the OSCARS internal reservation interface.
    </wsdl:documentation>

   <!--  defines common OSCARSFaultMessage -->
   <wsdl:import namespace="http://oscars.es.net/OSCARS/common" location="../common.wsdl"/>
   <wsdl:import namespace="http://oscars.es.net/OSCARS/policy"
                  location="sec-policy.wsdl"/>
   
   <!-- Element definitions -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://oscars.es.net/OSCARS/06"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://oscars.es.net/OSCARS/06">
            <xsd:include schemaLocation="OSCARS-0.6.xsd"/> 
            <xsd:include schemaLocation="api-internal-0.6.xsd"/>

            <xsd:import namespace="http://oscars.es.net/OSCARS/common" 
                  schemaLocation="../common.xsd" />
            <xsd:import
                namespace="http://docs.oasis-open.org/wsn/b-2" 
                schemaLocation="b-2-idc-0.6.xsd"/>
            <xsd:import
                namespace="http://docs.oasis-open.org/wsrf/r-2" 
                schemaLocation="r-2-idc.xsd"/>
        </xsd:schema>
    </wsdl:types>
   
    <!--   Message definitions -->

    <wsdl:message name="createReservation">
        <wsdl:part name="createReservation"
            element="tns:createReservation">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    
    <wsdl:message name="createReservationResponse">
        <wsdl:part name="createReservationResponse"
            element="tns:createReservationResponse" />
    </wsdl:message>

    <wsdl:message name="cancelReservation">
        <wsdl:part name="cancelReservation"
            element="tns:cancelReservation">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="cancelReservationResponse">
        <wsdl:part name="cancelReservationResponse"
            element="tns:cancelReservationResponse" />
    </wsdl:message>

    <wsdl:message name="queryReservation">
        <wsdl:part name="queryReservation"
            element="tns:queryReservation" />
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="queryReservationResponse">
        <wsdl:part name="queryReservationResponse"
            element="tns:queryReservationResponse" />
    </wsdl:message>

    <wsdl:message name="modifyReservation">
        <wsdl:part name="modifyReservation"
            element="tns:modifyReservation" />
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="modifyReservationResponse">
        <wsdl:part name="modifyReservationResponse"
            element="tns:modifyReservationResponse" />
    </wsdl:message>

    <wsdl:message name="listReservations">
        <wsdl:part name="listReservations"
            element="tns:listReservations">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="listReservationsResponse">
        <wsdl:part name="listReservationsResponse"
            element="tns:listReservationsResponse" />
    </wsdl:message>

    <wsdl:message name="getNetworkTopology">
        <wsdl:part name="getNetworkTopology"
            element="tns:getNetworkTopology">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getNetworkTopologyResponse">
        <wsdl:part name="getNetworkTopologyResponse"
            element="tns:getNetworkTopologyResponse" />
    </wsdl:message>

    <wsdl:message name="createPath">
        <wsdl:part name="createPath"
            element="tns:createPath">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="createPathResponse">
        <wsdl:part name="createPathResponse"
            element="tns:createPathResponse" />
    </wsdl:message>

    <wsdl:message name="refreshPath">
        <wsdl:part name="refreshPath"
            element="tns:refreshPath">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="refreshPathResponse">
        <wsdl:part name="refreshPathResponse"
            element="tns:refreshPathResponse" />
    </wsdl:message>

    <wsdl:message name="teardownPath">
        <wsdl:part name="teardownPath"
            element="tns:teardownPath">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="teardownPathResponse">
        <wsdl:part name="teardownPathResponse"
            element="tns:teardownPathResponse" />
    </wsdl:message>

    <wsdl:message name="getErrorReport">
        <wsdl:part name="getErrorReport"
            element="tns:getErrorReport">
        </wsdl:part>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getErrorReportResponse">
        <wsdl:part name="getErrorReportResponse"
            element="tns:getErrorReportResponse" />
    </wsdl:message>

   <wsdl:message name="interDomainEvent">
        <wsdl:part name="interDomainEvent" element="tns:interDomainEvent"/>
        <wsdl:part name="DestDomainId" type="xsd:string" />
    </wsdl:message>
 
    <wsdl:portType name="OSCARSInternalPortType">
        <wsdl:operation name="createReservation">
            <wsdl:input message="tns:createReservation" />
            <wsdl:output message="tns:createReservationResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="cancelReservation">
            <wsdl:input message="tns:cancelReservation"></wsdl:input>
            <wsdl:output message="tns:cancelReservationResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="queryReservation">
            <wsdl:input message="tns:queryReservation" />
            <wsdl:output message="tns:queryReservationResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="modifyReservation">
            <wsdl:input message="tns:modifyReservation" />
            <wsdl:output message="tns:modifyReservationResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="listReservations">
            <wsdl:input message="tns:listReservations" />
            <wsdl:output message="tns:listReservationsResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="getNetworkTopology">
            <wsdl:input message="tns:getNetworkTopology" />
            <wsdl:output message="tns:getNetworkTopologyResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="createPath">
            <wsdl:input message="tns:createPath" />
            <wsdl:output message="tns:createPathResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="refreshPath">
            <wsdl:input message="tns:refreshPath" />
            <wsdl:output message="tns:refreshPathResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="teardownPath">
            <wsdl:input message="tns:teardownPath" />
            <wsdl:output message="tns:teardownPathResponse" />
            <wsdl:fault name="OSCARSErrorException"
                message="com:OSCARSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="getErrorReport">
             <wsdl:input message="tns:getErrorReport" />
             <wsdl:output message="tns:getErrorReportResponse" />
             <wsdl:fault name="OSCARSErrorException"
                 message="com:OSCARSFaultMessage" />
         </wsdl:operation>

        <wsdl:operation name="interDomainEvent">
            <wsdl:input message="tns:interDomainEvent" />
        </wsdl:operation>

    </wsdl:portType>
    
 <wsdl:binding name="OSCARSSOAP" type="tns:OSCARSInternalPortType">
    
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="createReservation">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/createReservation" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy" />
                <soap:body use="literal" parts="createReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="createReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="queryReservation">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/queryReservation" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  />
                <soap:body use="literal" parts="queryReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="queryReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="listReservations">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/listReservations" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="listReservations" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="listReservationsResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="cancelReservation">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation
                soapAction="http://oscars.es.net/OSCARS/cancelReservation" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="cancelReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="cancelReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault use="literal" name="OSCARSErrorException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="modifyReservation">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/modifyReservation" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="modifyReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="modifyReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getNetworkTopology">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/getNetworkTopology" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="getNetworkTopology" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="getNetworkTopologyResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createPath">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/createPath" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="createPath" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="createPathResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="refreshPath">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/refreshPath" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="refreshPath" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="refreshPathResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="teardownPath">
            <wsp:PolicyReference URI="#X509BindingPolicy"  /> 
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/teardownPath" />
            <wsdl:input>
                <wsp:PolicyReference URI="#signedMsgPolicy"  /> 
                <soap:body use="literal" parts="teardownPath" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="teardownPathResponse" />
            </wsdl:output>
            <wsdl:fault name="OSCARSErrorException">
                <soap:fault name="OSCARSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

     <wsdl:operation name="getErrorReport">
          <wsp:PolicyReference URI="#X509BindingPolicy"  />
          <soap:operation style="document"
              soapAction="http://oscars.es.net/OSCARS/getErrorReport" />
          <wsdl:input>
              <wsp:PolicyReference URI="#signedMsgPolicy"  />
              <soap:body use="literal" parts="getErrorReport" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"
                  parts="getErrorReportResponse" />
          </wsdl:output>
          <wsdl:fault name="OSCARSErrorException">
              <soap:fault name="OSCARSErrorException" use="literal" />
          </wsdl:fault>
      </wsdl:operation>

       <wsdl:operation name="interDomainEvent">
            <soap:operation
                soapAction="http://oscars.es.net/OSCARS/interDomainEvent" />
            <wsdl:input>
                <soap:body use="literal" parts="interDomainEvent" />
            </wsdl:input>
        </wsdl:operation>
 
    </wsdl:binding>

        
    <wsdl:service name="OSCARSInternalService">
        <wsdl:port name="OSCARSInternalPortType" binding="tns:OSCARSSOAP">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
