common-soap/src/main/resources/api/OSCARS-0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://oscars.es.net/OSCARS/06"
    elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://oscars.es.net/OSCARS/06"
    xmlns:authP="http://oscars.es.net/OSCARS/authParams"
    xmlns:com="http://oscars.es.net/OSCARS/common"
    xmlns:ctrlp="http://ogf.org/schema/network/topology/ctrlPlane/20080828/">

    <xsd:import 
        namespace="http://ogf.org/schema/network/topology/ctrlPlane/20080828/" 
        schemaLocation="../nmtopo-ctrlp.xsd"/>
    <xsd:import 
        namespace="http://oscars.es.net/OSCARS/authParams" 
        schemaLocation="../authParams.xsd" />
    <xsd:import
        namespace="http://oscars.es.net/OSCARS/common"
        schemaLocation="../common.xsd" />

      
    <!-- Element definitions -->
    <xsd:element name="createReservation" type="tns:resCreateContent" />

    <xsd:element name="createReservationResponse" type="tns:createReply" />

    <xsd:element name="listReservations" type="tns:listRequest" />

    <xsd:element name="listReservationsResponse" type="tns:listReply" />

    <xsd:element name="cancelReservation" type="tns:cancelResContent" />

    <xsd:element name="cancelReservationResponse" type="tns:cancelResReply" />

    <xsd:element name="modifyReservation" type="tns:modifyResContent" />

    <xsd:element name="modifyReservationResponse" type="tns:modifyResReply" />

    <xsd:element name="queryReservation" type="tns:queryResContent" />

    <xsd:element name="queryReservationResponse" type="tns:queryResReply" />

    <xsd:element name="getNetworkTopology" type="tns:getTopologyContent" />

    <xsd:element name="getNetworkTopologyResponse" type="tns:getTopologyResponseContent" />

    <xsd:element name="createPath" type="tns:createPathContent" />

    <xsd:element name="createPathResponse" type="tns:createPathResponseContent" />

    <xsd:element name="refreshPath" type="tns:refreshPathContent" />

    <xsd:element name="refreshPathResponse" type="tns:refreshPathResponseContent" />

    <xsd:element name="teardownPath" type="tns:teardownPathContent" />

    <xsd:element name="teardownPathResponse" type="tns:teardownPathResponseContent" />

    <xsd:element name="getErrorReport" type="tns:getErrorReportContent" />

    <xsd:element name="getErrorReportResponse" type="tns:getErrorReportResponseContent" />

    <xsd:element name="event" type="tns:eventContent" />

    <xsd:element name="interDomainEvent" type="tns:interDomainEventContent" />
    
    <xsd:element name="subscriptionId" type="xsd:string" />
    
    <xsd:element name="publisherRegistrationId" type="xsd:string" />
    
    <xsd:element name="reservationResource" type="tns:reservationResourceType" />
  
    <!--  Types  -->
    <xsd:complexType name="resCreateContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" />
            <xsd:element name="userRequestConstraint" type="tns:userRequestConstraintType" maxOccurs="1" minOccurs="1" />
            <xsd:element name="reservedConstraint" type="tns:reservedConstraintType" maxOccurs="1" minOccurs="0" />
            <xsd:element name="optionalConstraint" type="tns:optionalConstraintType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- reservedConstraint may be missing when createReservation returns to the caller before any elements are reserved -->
    <xsd:complexType name="createReply"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
            <xsd:element name="token" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="cancelResContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cancelResReply"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="queryResContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="queryResReply"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="reservationDetails" type="tns:resDetails" />
            <xsd:element name="errorReport" type ="com:OSCARSFaultReport"  maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="modifyResContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="description" type="xsd:string" />
            <xsd:element name="userRequestConstraint" type="tns:userRequestConstraintType" maxOccurs="1" minOccurs="1" />
            <xsd:element name="reservedConstraint" type="tns:reservedConstraintType" maxOccurs="1" minOccurs="0" />
            <xsd:element name="optionalConstraint" type="tns:optionalConstraintType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="modifyResReply"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="getTopologyContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="topologyType" type="xsd:string" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="getTopologyResponseContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
           <!-- nmwg goes here -->
           <xsd:element ref="ctrlp:topology" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="createPathContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="createPathResponseContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" /> 
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="refreshPathContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="refreshPathResponseContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="teardownPathContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="globalReservationId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="teardownPathResponseContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="globalReservationId" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

     <xsd:complexType name="getErrorReportContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="transactionId" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="getErrorReportResponseContent">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="errorReport" type ="com:OSCARSFaultReport"  maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="resDetails">
        <xsd:sequence>
            <xsd:element name="globalReservationId" type="xsd:string" />
            <xsd:element name="login" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" />
            <xsd:element name="createTime" type="xsd:long" />
            <xsd:element name="status" type="xsd:string" />
            <xsd:element name="userRequestConstraint" type="tns:userRequestConstraintType" maxOccurs="1" minOccurs="1" />
            <xsd:element name="reservedConstraint" type="tns:reservedConstraintType" maxOccurs="1" minOccurs="0" />
            <xsd:element name="optionalConstraint" type="tns:optionalConstraintType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="listRequest"> 
       <xsd:sequence>
           <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
           <!--  one or more of ALL, ACTIVE, PENDING, FINISHED, CANCELLED, FAILED  -->
           <xsd:element name="resStatus" type="xsd:string"
                    maxOccurs="5" minOccurs="0" />
           <xsd:sequence maxOccurs="1" minOccurs="0">
              <xsd:element name="startTime" type="xsd:long" />
              <xsd:element name="endTime" type="xsd:long" />
           </xsd:sequence>
           <xsd:element name="description" type="xsd:string"
                   maxOccurs="1" minOccurs="0" />
           <xsd:element name="linkId" type="xsd:string"
                   maxOccurs="unbounded" minOccurs="0" />
           <xsd:element name="vlanTag" type="tns:vlanTag" minOccurs="0"
                   maxOccurs="unbounded" />
           <xsd:element name="user" type="xsd:string"
                        minOccurs="0"/>
           <xsd:element name="resRequested" type="xsd:int"
                       minOccurs="0"/>
           <xsd:element name="resOffset" type="xsd:int"
                       minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="listReply">
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType" maxOccurs="1" minOccurs="0"/>
            <!-- up to particular client about how much to display -->
            <xsd:element name="resDetails" type="tns:resDetails"
                maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="totalResults" type="xsd:int"
                minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="pathInfo">
        <xsd:sequence>
            <xsd:element name="pathSetupMode" type="xsd:string" minOccurs="1" />
            <xsd:element name="pathType" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="path" type="ctrlp:CtrlPlanePathContent"
                         maxOccurs="1" minOccurs="0" />
            <xsd:element name="layer2Info" type="tns:layer2Info" maxOccurs="1" minOccurs="0" />
            <xsd:element name="layer3Info" type="tns:layer3Info" maxOccurs="1" minOccurs="0" />
            <xsd:element name="mplsInfo" type="tns:mplsInfo" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- Layer 2 elements -->
    <xsd:complexType name="layer2Info">
        <xsd:sequence>
            <xsd:element name="srcVtag" type="tns:vlanTag" minOccurs="0"
                         maxOccurs="1" />
            <xsd:element name="destVtag" type="tns:vlanTag" minOccurs="0"
                         maxOccurs="1" />
            <xsd:element name="srcEndpoint" type="xsd:string" />
            <xsd:element name="destEndpoint" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- Layer 3 elements -->
    <xsd:complexType name="layer3Info">
        <xsd:sequence>
            <xsd:element name="srcHost" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="destHost" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="protocol" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="srcIpPort" type="xsd:int" maxOccurs="1" minOccurs="0" />
            <xsd:element name="destIpPort" type="xsd:int" maxOccurs="1" minOccurs="0" />
            <xsd:element name="dscp" type="xsd:string" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- MPLS-specific elements -->
    <xsd:complexType name="mplsInfo">
        <xsd:sequence>
            <xsd:element name="burstLimit" type="xsd:int" />
            <xsd:element name="lspClass" type="xsd:string"
                         maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- VLAN tag element -->
    <xsd:complexType name="vlanTag">
         <xsd:simpleContent>
             <xsd:extension base="xsd:string">
                 <xsd:attribute use="optional" name="tagged" type="xsd:boolean" default="true"/>
             </xsd:extension>
         </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="interDomainEventContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType"/>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="errorSource" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="errorCode" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="errorMessage" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="resDetails" type="tns:resDetails"
                maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="eventContent"> 
        <xsd:sequence>
            <xsd:element name="messageProperties" type ="authP:messagePropertiesType"/>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="timestamp" type="xsd:long" />
            <xsd:element name="errorSource" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="errorCode" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="errorMessage" type="xsd:string" 
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="resDetails" type="tns:resDetails"
                maxOccurs="1" minOccurs="0" />
            <xsd:element name="localDetails" type="tns:localDetails"
                maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="localDetails">
        <xsd:sequence>
            <xsd:any namespace="##other" processContents="lax"
                     minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:complexType name="globalReservationId">
        <xsd:sequence>
            <xsd:element name="gri" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="reservationResourceType">
        <xsd:complexContent>
            <xsd:extension base="tns:resCreateContent">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="localDetails" type="tns:localDetails" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <!-- PCE data types -->
    <xsd:complexType name="optionalConstraintType"> 
        <xsd:sequence>   
            <xsd:element name="value" type="tns:optionalConstraintValue"/>
        </xsd:sequence>
        <xsd:attribute name="category" type="xsd:string" use="required"/>
    </xsd:complexType>
        
    <!-- currently we are only implemented String values, the any is for extensibility -->
	<xsd:complexType name="optionalConstraintValue">
		<xsd:sequence>
			<xsd:element name="stringValue" type="xsd:string" minOccurs="0"	maxOccurs="1" />
            <xsd:element name="anyValue" type="xsd:anyType" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


    <xsd:complexType name="userRequestConstraintType">
        <xsd:sequence>
              <xsd:element name="startTime" type="xsd:long" />
              <xsd:element name="endTime" type="xsd:long" />
              <xsd:element name="bandwidth" type="xsd:int" />
            <xsd:element name="pathInfo" type="tns:pathInfo" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="reservedConstraintType">
        <xsd:sequence>
             <xsd:element name="startTime" type="xsd:long" />
               <xsd:element name="endTime" type="xsd:long" />
               <xsd:element name="bandwidth" type="xsd:int" />
            <xsd:element name="pathInfo" type="tns:pathInfo" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
