nsibridge/schema/nsi-2_0/ogf_nsi_connection_types_v2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    The OGF takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights.  Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementers or users of this specification can be obtained from the OGF Secretariat.

    The OGF invites any interested party to bring to its attention any copyrights, patents or patent applications, or other proprietary rights which may cover technology that may be required to practice this recommendation.  Please address the information to the OGF Executive Director.

    This document and the information contained herein is provided on an "As Is" basis and the OGF disclaims all warranties, express or implied, including but not limited to any warranty that the use of the information herein will not infringe any rights or any implied warranties of merchantability or fitness for a particular purpose.

    Copyright (C) Open Grid Forum (2009-2012). All Rights Reserved.

    This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to the OGF or other organizations, except as needed for the purpose of developing Grid Recommendations in which case the procedures for copyrights defined in the OGF Document process must be followed, or as required to translate it into languages other than English.

    The limited permissions granted above are perpetual and will not be revoked by the OGF or its successors or assignees.

    Open Grid Forum NSI Connection Services Protocol v2.0

    Description: This is a draft version of the types schema for the reference web services implementation of the OGF NSI Connection Services Protocol v2.0. This can be considered the transport independent protocol representation.  Comments and questions can be directed to the mailing list group mailing list (nsi-wg@ogf.org).
-->
<xsd:schema targetNamespace="http://schemas.ogf.org/nsi/2012/03/connection/types"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
    xmlns:ftypes="http://schemas.ogf.org/nsi/2012/03/framework/types"
    xmlns:tns="http://schemas.ogf.org/nsi/2012/03/connection/types">

    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This is an XML schema document describing the OGF NSI Connection
            Services protocol version 2.0. The Connection Service is message
            based command protocol that operates between a Requester
            Network Service Agent (NSA) and a Provider NSA. The protocol includes
            a set of defined primitives that are intended to provide the control
            necessary to manage Connections.

            There are five primitives supported in this version of the
            protocol:

            1. Reserve - Make a request to reserve network resources for a
            connection between two STP's constrained by a certain service
            parameters.
            
            2. ModifyCheck - Request a modification of an existing reservation.
            Any required resources will be pre-allocated.
            
            3. Modify - Commit a previously allocated modification on a
            reservation.
            
            4. ModifyCancel - Cancel a pending modification and release any
            associated resources.

            5. Provision - Provider NSA has been given permission to setup a
            reservation (associated with a previous reserve message) on
            the Requester NSA's behalf but subject to the constraints of
            the requested service.

            6. Release - Provider NSA should release the provisioned resources
            without removing the reservation.

            7. Terminate - Provider NSA should release the provisioned resources
            and terminate the reservation.

            8. Query - Mechanism for either NSA to query the other NSA for a
            set of connection service instances between the RA-PA pair.
            This message can be used as a status polling mechanism.

            9. Notification - An autonomous message issued from a Provider NSA
            to a Requester NSA when an existing reservation encounters an
            autonomous condition such as being administratively terminated
            before the reservation's scheduled end-time.  Connection activation
            status within the data plane is also communicated using this
            notification mechanism.

            The Connection Service protocol is an asynchronous protocol where
            each primitive consists of three operations:

            1. Request - A Requester NSA issues an operation request message
            such as "reserveRequest" to the Provider NSA. The Requester
            NSA can expect an response to the request at some point in
            the future.

            2. Confirmed - A Provider NSA sends this positive operation
            response message (such as "reserveConfirmed") to the Requester
            NSA that issued the original request message ("reserveRequest").

            3. Failed - A Provider NSA sends this negative operation response
            message (such as "reserveFailed") to the Requester NSA that
            issued the original request message ("reserveRequest").
        </xsd:documentation>
    </xsd:annotation>

    <!-- Import SAML attribute definitions for our security attributes.  This
         is a local import of:  http://docs.oasis-open.org/security/saml/v2.0/saml-schema-assertion-2.0.xsd -->
    <xsd:import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
                            schemaLocation="saml-schema-assertion-2.0.xsd"/>
    
    <!-- Import the common NSI framework types. -->
    <xsd:import namespace="http://schemas.ogf.org/nsi/2012/03/framework/types"
        schemaLocation="ogf_nsi_framework_types_v2_0.xsd"/>
    
    <!-- ******************************************************************
         *                  NSI protocol messages                         *
         ****************************************************************** -->

    <!-- ********** Reserve message elements ********** -->
    <xsd:element name="reserve"          type="tns:ReserveType" />
    <xsd:element name="reserveConfirmed" type="tns:ReserveConfirmedType" />
    <xsd:element name="reserveFailed"    type="tns:GenericFailedType" />
    
    <!-- ********** Modify message elements ********** -->
    <xsd:element name="modifyCheck"          type="tns:ModifyCheckType" />
    <xsd:element name="modifyCheckConfirmed" type="tns:ModifyCheckConfirmedType" />
    <xsd:element name="modifyCheckFailed"    type="tns:GenericFailedType" />
    
    <xsd:element name="modify"                type="tns:GenericRequestType" />
    <xsd:element name="modifyConfirmed"       type="tns:GenericConfirmedType" />
    <xsd:element name="modifyFailed"          type="tns:GenericFailedType" />

    <xsd:element name="modifyCancel"          type="tns:GenericRequestType" />
    <xsd:element name="modifyCancelConfirmed" type="tns:GenericConfirmedType" />
    <xsd:element name="modifyCancelFailed"    type="tns:GenericFailedType" />
    
    <!-- ********** Provision message elements ********** -->
    <xsd:element name="provision"            type="tns:GenericRequestType" />
    <xsd:element name="provisionConfirmed"   type="tns:GenericConfirmedType" />
    <xsd:element name="provisionFailed"      type="tns:GenericFailedType" />

    <!-- ********** Release message elements ********** -->
    <xsd:element name="release"              type="tns:GenericRequestType" />
    <xsd:element name="releaseConfirmed"     type="tns:GenericConfirmedType" />
    <xsd:element name="releaseFailed"        type="tns:GenericFailedType" />

    <!-- ********** Terminate message elements ********** -->
    <xsd:element name="terminate"            type="tns:GenericRequestType" />
    <xsd:element name="terminateConfirmed"   type="tns:GenericConfirmedType" />
    <xsd:element name="terminateFailed"      type="tns:GenericFailedType" />

    <!-- ********** Query message elements ********** -->
    <xsd:element name="query"                type="tns:QueryType" />
    <xsd:element name="queryConfirmed"       type="tns:QueryConfirmedType" />
    <xsd:element name="queryFailed"          type="tns:QueryFailedType" />

    <!-- ********** Notification message elements ********** -->
    <xsd:element name="notification"         type="tns:NotificationRequestType" />
    
    <!-- ******************************************************************
        *                   NSI message types                            *
        ****************************************************************** -->
    
    <xsd:complexType name="ReserveType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the reserve message that allows a
                Requester NSA to reserve network resources for a connection
                between two STP's constrained by a certain service parameters.

                Elements:
                
                globalReservationId - An optional global reservation id that can be
                used to correlate individual related service reservations through
                the network. This must be populated with a Universally Unique
                Identifier (UUID) URN as per ITU-T Rec. X.667 | ISO/IEC 9834-8:2005
                and IETF RFC 4122.
                
                description - An optional description for the service reservation.
                
                connectionId - The Requester NSA assigned connectionId for this
                service segment. This value must be unique within the context
                of the Requester and Provider NSA.  This must be populated with a
                Universally Unique Identifier (UUID) URN as per ITU-T Rec. X.667 |
                ISO/IEC 9834-8:2005 and IETF RFC 4122.
                
                criteria - reservation request criteria including start and end
                time, severice attributes, and requested path for the service.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="globalReservationId" type="tns:GlobalReservationIdType" minOccurs="0" />
            <xsd:element name="description"         type="xsd:string" minOccurs="0" />
            <xsd:element name="connectionId"        type="tns:ConnectionIdType" />
            <xsd:element name="criteria"            type="tns:ReservationRequestCriteriaType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReserveConfirmedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the reserveConfirmed message. A Provider NSA
                sends this positive reserveRequest response to the Requester NSA
                that issued the original request message.

                Elements:
                
                ReservationInfoGroup - Element group containing the common
                reservation elements for reservation confirmations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group   ref="tns:ReservationInfoGroup" />
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ModifyCheckType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the modifyCheck message that allows a
                Requester NSA to check the feasibility of connection reservation
                modification.  Any additional resources associated with the
                modify will be allocated.
                
                Elements:

                connectionId - The Requester NSA assigned connectionId for this
                service segment. This value must be unique within the context
                of the Requester and Provider NSA.  This must be populated with a
                Universally Unique Identifier (UUID) URN as per ITU-T Rec. X.667 |
                ISO/IEC 9834-8:2005 and IETF RFC 4122.
                
                criteria - requested modification criteria including start and
                end time, service attributes, and requested path for the
                service.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="connectionId"        type="tns:ConnectionIdType" />
            <xsd:element name="criteria"            type="tns:ModifyRequestCriteriaType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ModifyCheckConfirmedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the reserveConfirmed message. A Provider NSA
                sends this positive reserveRequest response to the Requester NSA
                that issued the original request message.
                
                Elements:
                
                ReservationInfoGroup - Element group containing the common
                reservation elements for reservation confirmations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group   ref="tns:ReservationInfoGroup" />
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="QueryType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the queryRequest message providing a mechanism
                for either Requester or Provider NSA to query the other NSA for a
                set of connection service reservation instances between the RA-PA
                pair. This message can also be used as a status polling mechanism.

                Elements:

                operation - Parameter specifying the type of query operation to
                perform.
                
                queryFilter - Parameter specifying the query criteria to match
                against reserved connections. Any matching connections must be
                returned.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="operation"           type="tns:QueryOperationType" default="Summary" />
            <xsd:element name="queryFilter"         type="tns:QueryFilterType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QueryConfirmedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This is the type definition for the queryConfirmed message.  An
                NSA sends this positive queryRequest response to the NSA that
                issued the original request message.

                Elements:

                Choice of reservation element:
                reservationSummary - Resulting summary set of connection
                reservations matching the query criteria.  Will be provided
                if the original query operation parameter was for "Summary".
                
                reservationDetails - Resulting detailed set of connection
                reservations matching the query criteria.  Will be provided
                if the original query operation parameter was for "Details".

                If there were no matches to the query then no reservation
                elements will be present.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="reservationSummary"  type="tns:QuerySummaryResultType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="reservationDetails"  type="tns:QueryDetailsResultType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QueryFailedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A query "Failed" message type sent as request in response to a
                failure to process a queryRequest message.  This is message is
                returned as a result of a processing error and not an empty
                query result.
                
                Elements:
                
                ServiceException - Specific error condition - the reason for the
                failure.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="serviceException" type="ftypes:ServiceExceptionType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GenericRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This is a generic type definition for request messages such as
                provision, release, terminate, and forcedEnd that only need a
                connectionId as a request parameter.

                Elements:
                
                connectionId - The unique identifier for a connection known between
                a Requesting and Provider NSA pair.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="connectionId"        type="tns:ConnectionIdType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GenericConfirmedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This is a generic type definition for a "Confirmed" messages in
                response to a successful processing of a previous "Request"
                message such as provision, release, and terminate.

                Elements:

                globalReservationId - An optional global reservation id that was
                originally provided in the reserve request.

                connectionId - The unique identifier for a connection that is known
                between a Requesting and Provider NSA pair.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="globalReservationId"    type="tns:GlobalReservationIdType" minOccurs="0" />
            <xsd:element name="connectionId"           type="tns:ConnectionIdType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GenericFailedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A generic "Failed" message type sent as request in response to a
                failure to process a previous protocol "Request" message.  This is
                used in response to all request types that can return an error.

                Elements:

                globalReservationId - An optional global reservation id that was
                originally provided in the reserve request.

                connectionId - The locally unique identifier for a connection that
                is known between a Requesting and Provider NSA pair.

                connectionStates - Overall connection state for the reservation.

                ServiceException - Specific error condition - the reason for the
                failure.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="globalReservationId" type="tns:GlobalReservationIdType" minOccurs="0" />
            <xsd:element name="connectionId"        type="tns:ConnectionIdType" />
            <xsd:element name="connectionStates"    type="tns:ConnectionStatesType" />
            <xsd:element name="serviceException"    type="ftypes:ServiceExceptionType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NotificationRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for the notification message that allows a
                Requester NSA to reserve network resources for a connection
                between two STP's constrained by a certain service parameters.
                
                Elements:
                
                event - The type of notification event generated
                
                connectionId - The unique identifier for a connection known
                between a Requesting and Provider NSA pair.
                
                connectionStates - Connection state for the reservation.
                
                timeStamp - Time the event was generated.
                
                additionalInfo - Type/value 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="event"            type="tns:EventEnumType" />
            <xsd:element name="connectionId"     type="tns:ConnectionIdType" />
            <xsd:element name="connectionStates" type="tns:ConnectionStatesType" />
            <xsd:element name="timeStamp"        type="ftypes:DateTimeType" />
            <xsd:element name="additionalInfo"   type="ftypes:TypeValuePairListType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- ******************************************************************
         *             XML types used in message elements                 *
         ****************************************************************** -->

    <xsd:complexType name="ReservationRequestCriteriaType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for reservation request criteria.
                
                Elements:
                
                schedule - time parameters specifying the life of the service.
                
                bandwidth - bandwidth of the service in Mb/s.
                
                serviceAttributes - Technology specific attributes relating to
                the service.
                
                path - The source and destination end points of the service.
                Can optionally provide additional path segments to guide path
                computation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="schedule"            type="tns:ScheduleType" />
            <xsd:element name="bandwidth"           type="xsd:int" />
            <xsd:element name="serviceAttributes"   type="ftypes:TypeValuePairListType" />
            <xsd:element name="path"                type="tns:PathType" />
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ModifyRequestCriteriaType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a reservation modification request criteria.
                
                Elements:
                
                schedule - time parameters specifying the life of the service.
                
                bandwidth - bandwidth of the service in Mb/s.
                
                serviceAttributes - Technology specific attributes relating to
                the service.
                
                path - The source and destination end points of the service.
                Can optionally provide additional path segments to guide path
                computation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="schedule"            type="tns:ScheduleType" minOccurs="0" />
            <xsd:element name="bandwidth"           type="xsd:int" />
            <xsd:element name="serviceAttributes"   type="ftypes:TypeValuePairListType" minOccurs="0" />
            <xsd:element name="path"                type="tns:PathType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReservationConfirmCriteriaType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for reservation confirmation information.
                Includes the reservation version id.
                
                Elements:
                
                schedule - time parameters specifying the life of the service.
                
                bandwidth - bandwidth of the service in Mb/s.
                
                serviceAttributes - Technology specific attributes relating to
                the service.
                
                path - The source and destination end points of the service.
                Can optionally provide additional path segments to guide path
                computation.
                
                Attributes:
                
                version - version of the reservation instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="schedule"            type="tns:ScheduleType" />
            <xsd:element name="bandwidth"           type="xsd:int" />
            <xsd:element name="serviceAttributes"   type="ftypes:TypeValuePairListType" />
            <xsd:element name="path"                type="tns:PathType" />
        </xsd:sequence>
        <xsd:attribute   name="version"             type="xsd:int" use="required" />
    </xsd:complexType>
    
    
    <xsd:group name="ReservationInfoGroup">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Element group containing the common reservation elements for both
                reserve requests and confirmations.
                
                Elements:
                
                globalReservationId - An optional global reservation id that can be
                used to correlate individual related service reservations through
                the network. This must be populated with a Universally Unique
                Identifier (UUID) URN as per ITU-T Rec. X.667 | ISO/IEC 9834-8:2005
                and IETF RFC 4122.
                
                description - An optional description for the service reservation.
                
                connectionId - The Requester NSA assigned connectionId for this
                service segment. This value must be unique within the context
                of the Requester and Provider NSA.  This must be populated with a
                Universally Unique Identifier (UUID) URN as per ITU-T Rec. X.667 |
                ISO/IEC 9834-8:2005 and IETF RFC 4122.
                
                criteria - A set of versioned reservation criteria information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="globalReservationId" type="tns:GlobalReservationIdType" minOccurs="0" />
            <xsd:element name="description"         type="xsd:string" minOccurs="0" />
            <xsd:element name="connectionId"        type="tns:ConnectionIdType" />
            <xsd:element name="criteria"            type="tns:ReservationConfirmCriteriaType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:group>
    
    <xsd:complexType name="QuerySummaryResultType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            Type containing the set of reservation parameters associated with
            a "Summary" query result.

            Elements:

            ReservationInfoGroup - Element group containing the common
            reservation elements and detailed path data.
            
            requesterNSA - The requester NSA associated with the reservation.

            connectionStates - The reservation's overall connection states.

            children - If this connection reservation is aggregating child
            connections then this element contains basic summary information
            about the child connection segment.
         </xsd:documentation>
      </xsd:annotation>
        <xsd:sequence>
            <xsd:group   ref="tns:ReservationInfoGroup" />
            <xsd:element name="requesterNSA"       type="ftypes:NsaIdType" />
            <xsd:element name="connectionStates"   type="tns:ConnectionStatesType" />
            <xsd:element name="children"           type="tns:ChildSummaryListType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ChildSummaryListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A holder element providing an evelope which will contain the
                list of child NSA and associated connection information.
                
                Elements:
                
                child - Summary path information for a child NSA.  Each child
                element is ordered and contains a connection segment in the
                overall path.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="child" type="tns:SummaryPathType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SummaryPathType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This type is used to model a connection reservation's summary
                path information.  The structure provides the next level of
                connection information but not state.

                Attributes:
                
                order - Specification of ordered path elements.
                
                Elements:
                
                providerNSA - The provider NSA holding the connection
                information associated with this instance of data.
                
                connectionId - The connection identifier associated with the
                reservation and path segment.
                
                path - The summary path information associated with the
                connection reservation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="providerNSA"     type="ftypes:NsaIdType" />
            <xsd:element name="connectionId"    type="tns:ConnectionIdType" />
            <xsd:element name="path"            type="tns:PathType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:int" use="required" />
    </xsd:complexType>
    
    <xsd:complexType name="QueryDetailsResultType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type containing the common reservation elements and detailed
                path data for "Detailed" query results.
                
                Elements:
                
                ReservationInfoGroup - The common reservation information
                elements.

                requesterNSA - The requester NSA associated with the reservation.

                connectionStates - The reservation's overall connection states.

                children - If this connection reservation is aggregating child
                connections then this element contains detailed information
                about the child connection segment.  The level of detail
                include is left up to the individual NSA and their
                authorization policies.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group   ref="tns:ReservationInfoGroup" />
            <xsd:element name="requesterNSA"       type="ftypes:NsaIdType" />
            <xsd:element name="connectionStates"   type="tns:ConnectionStatesType" />
            <xsd:element name="children"           type="tns:ChildDetailedListType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ChildDetailedListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A holder element providing an evelope which will contain the
                list of child NSA and associated detailed connection
                information.
                
                Elements:
                
                child - Deatiled path information for a child NSA.  Each
                child element is ordered and contains a connection segment in
                the overall path.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="child" type="tns:DetailedPathType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DetailedPathType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This type is used to model a connection reservation's detailed 
                path information.  The structure is recursive so it is 
                possible to model both an ordered list of connection segments,
                as well as the hierarchical connection segments created on 
                children NSA in either a tree and chain configuration.
                
                Attributes:
                
                order - Specification of ordered path elements.
                
                Elements:
                
                providerNSA - The provider NSA holding the connection
                information associated with this instance of data.
                
                connectionId - The connection identifier associated with the
                reservation and path segment.
                
                connectionStates - This reservation's segments connection
                states.
                
                path - The path information associated with the connection
                reservation.
                
                children - If provided this element will contain the list of 
                connections in the context of all direct children NSA involved 
                in the connection path.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="providerNSA"        type="ftypes:NsaIdType" />
            <xsd:element name="connectionId"       type="tns:ConnectionIdType" />
            <xsd:element name="connectionStates"   type="tns:ConnectionStatesType" />
            <xsd:element name="path"               type="tns:PathType" minOccurs="0" />
            <xsd:element name="children"           type="tns:ChildDetailedListType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:int" use="required" />
    </xsd:complexType>
    
    <xsd:complexType name="ScheduleType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            Type modeling a reservation schedule.

            Elements:

            startTime - Reservation start time. If not specified then immediate
            reservation.

            endTime - Reservation end time.  If endTime is not specified then
            the schedule end is indefinite.
         </xsd:documentation>
      </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="startTime" type="ftypes:DateTimeType" minOccurs="0" />
            <xsd:element name="endTime"   type="ftypes:DateTimeType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PathType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Path of the service represented by a list of STP.
                
                Elements:
                
                directionality - (uni or bi) directionality of the service.
                
                sourceSTP - Source STP of the service.
                
                destSTP - Destination STP of the service.
                
                stpList - Hop-by-hop ordered list of STP from sourceSTP to
                destSTP. List does not include sourceSTP and destSTP.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="directionality"  type="tns:DirectionalityType" default="Bidirectional" />
            <xsd:element name="symmetric"       type="xsd:boolean" minOccurs="0" />
            <xsd:element name="sourceSTP"       type="tns:StpType" />
            <xsd:element name="destSTP"         type="tns:StpType" />
            <xsd:element name="ero"             type="tns:StpListType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="StpType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The Service Termination Point (STP) type used for path selection.
                 
                Elements:
                
                networkId - a globally unique identifier (URN) that identifies the
                Network.  Rather than forcing parsing of an STP to determine the
                Network, a separate Network object is defined to allow an
                intermediate NSA to forward the message to the target Network
                without needing to know about the STPs within that domain.
                
                localId - a locally unique identifier for the STP withint he
                associated network.
                
                labels - technology specific attributes associated with
                the Service Termination Point.
                
                orientation - describes the connection orientation of the STP in 
                the context of the network (Ingress or Egress).  Required to
                remove path-finding ambiguity for bidirectional STP.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="networkId"       type="tns:NetworkIdType" />
            <xsd:element name="localId"         type="xsd:string" />
            <xsd:element name="labels"           type="ftypes:TypeValuePairListType" minOccurs="0" />
            <xsd:element name="orientation"     type="tns:OrientationType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="StpListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A simple ordered list if list of Service Termination Point (STP).
                List order is determined by the interger order attribute in the
                OrderedStpType.
    
                Elements:
    
                orderedSTP- A list of STP ordered 0..n by their integer order attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="orderedSTP" type="tns:OrderedStpType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrderedStpType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A Service Termination Point (STP) which can be ordered in a list for
                use in PathObject definition.
    
                Attributes:
    
                order - Order attribute is provided only when the STP is part of an
                orderedStpList.
    
                Elements:
    
                stp - the Service Termination Point (STP).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stp" type="tns:StpType" />
        </xsd:sequence>
        <xsd:attribute   name="order" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="QueryFilterType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A filter for specifying the reservations to return in response to a
                queryRequest.

                Supports querying reservations based on connectionId or
                globalReservationId. Filter items specified are OR'ed to build
                the match criteria. If no criteria is specified then all
                reservations associated with the requesting NSA are returned.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="connectionId"        type="tns:ConnectionIdType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="globalReservationId" type="tns:GlobalReservationIdType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ConnectionStatesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A holder element containing the state machines associated with
                a connection reservation.
                
                Elements:
                
                reservationState - Models the current connection reservation
                state.
                
                provisionState - Models the current connection provisioning
                state.
                
                activationState - Models the current connection data plane
                activation state.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="reservationState"   type="tns:ReservationStateType" />
            <xsd:element name="provisionState"     type="tns:ProvisionStateType" />
            <xsd:element name="activationState"    type="tns:ActivationStateType" />
        </xsd:sequence>
    </xsd:complexType>    

    <xsd:complexType name="ReservationStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Models the current connection reservation state.
                
                Attributes:
                
                version - Version of the connection reservation this entry is
                modeling.
                
                Elements:
                
                state - The state of the connection reservation state machine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="state"   type="tns:ReservationStateEnumType" />
        </xsd:sequence>
        <xsd:attribute   name="version" type="xsd:int" />
    </xsd:complexType>
    
    <xsd:complexType name="ProvisionStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Models the current connection provisioning state.
                
                Attributes:
                
                version - Version of the connection reservation this entry is
                modeling.
                
                Elements:
                
                state - The state of the connection provisioning state machine.                
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="state"   type="tns:ProvisionStateEnumType" />
        </xsd:sequence>
        <xsd:attribute   name="version" type="xsd:int" />
    </xsd:complexType>

    <xsd:complexType name="ActivationStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Models the current connection activation state within the
                data plane.
                
                Attributes:
                
                version - Version of the connection reservation this entry is
                modeling.
                
                Elements:
                
                state - The state of the connection activation state machine.                  
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="state"   type="tns:ActivationStateEnumType" />
        </xsd:sequence>
        <xsd:attribute   name="version" type="xsd:int" />
    </xsd:complexType>
    
   <!-- ******************************************************************
        *                       XML base types                           *
        ****************************************************************** -->

    <xsd:simpleType name="NetworkIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                An Service Termination Point will be populated with a OGF URN
                (reference artifact 6478 "Procedure for Registration of
                Subnamespace Identifiers in the URN:OGF Hierarchy") to be used
                for compatibility with other external systems.  The suggested
                format is urn:ogf:network:stp:networkId:localId where networkId
                identifies the network holding the STP and localId is the
                STP identifier in that network.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI" />
    </xsd:simpleType>
        
    <xsd:simpleType name="GlobalReservationIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A specific type for a globalReservationId just in case we need
                to change it in the future.  This type will be populated with
                a OGF URN (reference artifact 6478 "Procedure for Registration
                of Subnamespace Identifiers in the URN:OGF Hierarchy") to be
                used for compatibility with other external systems.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI" />
    </xsd:simpleType>

    <xsd:simpleType name="ConnectionIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A specific type for a connectionId just in case we need to
                change it in the future.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>

    <xsd:simpleType name="DirectionalityType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Directionality of the service.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Bidirectional" />
            <xsd:enumeration value="Unidirectional" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EventEnumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Notification event message types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="forcedEnd" />
            <xsd:enumeration value="activateComplete" />
            <xsd:enumeration value="activateFailed" />
            <xsd:enumeration value="deactivateComplete" />
            <xsd:enumeration value="deactivateFailed" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ReservationStateEnumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Connection reservation state values for the connection 
                services reservation state machine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Initial" />
            
            <xsd:enumeration value="Reserving" />
            <xsd:enumeration value="Reserved" />
            <xsd:enumeration value="ReserveFailed" />
            
            <xsd:enumeration value="ModifyChecking" />
            <xsd:enumeration value="ModifyChecked" />
            <xsd:enumeration value="ModifyCheckFailed" />
            
            <xsd:enumeration value="ModifyCanceling" />
            <xsd:enumeration value="ModifyCancelFailed" />
            
            <xsd:enumeration value="Modifying" />
            <xsd:enumeration value="ModifyFailed" />
            
            <xsd:enumeration value="Terminating" />
            <xsd:enumeration value="TerminatedReserved" />
            <xsd:enumeration value="TerminatedEndtime" />
            <xsd:enumeration value="TerminatedRequest" />
            <xsd:enumeration value="TerminateFailed" />

            <xsd:enumeration value="Unknown" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ProvisionStateEnumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Connection provisioning state values for the connection 
                services provision state machine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Initial" />
            
            <xsd:enumeration value="Scheduled" />
            
            <xsd:enumeration value="Provisioning" />
            <xsd:enumeration value="Provisioned" />
            <xsd:enumeration value="ProvisionFailed" />
            
            <xsd:enumeration value="Releasing" />
            <xsd:enumeration value="ReleaseFailed" />
            
            <xsd:enumeration value="Terminating" />
            <xsd:enumeration value="TerminatedReserved" />
            <xsd:enumeration value="TerminatedEndtime" />
            <xsd:enumeration value="TerminatedRequest" />
            <xsd:enumeration value="TerminateFailed" />
            
            <xsd:enumeration value="Unknown" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ActivationStateEnumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Connection activation state values for the connection services
                activation state machine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Inactive" />
            <xsd:enumeration value="Activating" />
            <xsd:enumeration value="Active" />
            <xsd:enumeration value="Deactivating" />
            <xsd:enumeration value="Unknown" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="QueryOperationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The type of search operation to be performed by the query.
                
                Summary - will query reservation information held in the
                queried provider NSA only.
                
                Details - will perform a recursive query to build detailed
                reservation information for all child NSA involved in the
                connection path.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Summary" />
            <xsd:enumeration value="Details" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="OrientationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                The orientation of an STP with respect to the network.
                
                Ingress - the STP is bring used as an ingress to the network.
                
                Egress - the STP is being used as an egress to the network.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Ingress" />
            <xsd:enumeration value="Egress" />
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
