nsibridge/schema/nsi-2_0/ogf_nsi_connection_interface_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
The OGF takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights.  Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementers or users of this specification can be obtained from the OGF Secretariat.

The OGF invites any interested party to bring to its attention any copyrights, patents or patent applications, or other proprietary rights which may cover technology that may be required to practice this recommendation.  Please address the information to the OGF Executive Director.

This document and the information contained herein is provided on an "As Is" basis and the OGF disclaims all warranties, express or implied, including but not limited to any warranty that the use of the information herein will not infringe any rights or any implied warranties of merchantability or fitness for a particular purpose.

Copyright (C) Open Grid Forum (2009-2011). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to the OGF or other organizations, except as needed for the purpose of developing Grid Recommendations in which case the procedures for copyrights defined in the OGF Document process must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by the OGF or its successors or assignees.

Open Grid Forum NSI Connection Services Protocol v2.0

Description: This is a draft version of the WSDL common types and messages for the reference web services implementation of the OGF NSI Connection Services Protocol v2.0. Comments and questions can be directed to the mailing list group mailing list (nsi-wg@ogf.org).
-->
<wsdl:definitions name="ogf_nsi_connection_interface_v2_0"
    targetNamespace="http://schemas.ogf.org/nsi/2012/03/connection/interface"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ftypes="http://schemas.ogf.org/nsi/2012/03/framework/types"
    xmlns:headers="http://schemas.ogf.org/nsi/2012/03/framework/headers"
    xmlns:types="http://schemas.ogf.org/nsi/2012/03/connection/types"
    xmlns:tns="http://schemas.ogf.org/nsi/2012/03/connection/interface">

    <!-- OGF NSI Connection Services Protocol 2.0 description -->
    <wsdl:documentation>
        This is a web services message definition of OGF NSI Connection
        Services protocol version 2.0 based on an HTTP/SOAP binding. The
        Connection Service is message based request-response protocol
        that operates between a Requester Network Service Agent (NSA)
        and a Provider NSA. The protocol includes a set of defined
        primitives that are intended to provide the control necessary to
        manage Connections.
    
        There are five primitives supported in this version of the
        protocol:
    
        1. Reserve - Make a request to reserve network resources for a
        connection between two STP’s constrained by certain service
        parameters.
    
        2. Provision - Provider NSA has been given permission to setup a
        reservation (associated with a previous reserve message) on
        the Requester NSA's behalf but subject to the constraints of
        the requested service.
    
        3. Release - Provider NSA should release the provisioned resources
        without removing the reservation.
        
        4. Terminate - Provider NSA should release the provisioned resources
        and terminate the reservation.
    
        5. Query - Mechanism for either NSA to query the other NSA for a
        set of connection service instances between the RA-PA pair.
        This message can be used as a status polling mechanism.
    
        6. ForcedEnd - An autonomous message issued from a Provider NSA when
        an existing reservation is administratively terminated before the
        reservation's scheduled end-time.
    
        The Connection Service protocol is an asynchronous protocol where
        each primitive consists of three operations:
    
        1. Request - A Requester NSA issues an operation request message
        such as "reserveRequest" to the Provider NSA. The Requester
        NSA can expect an response to the request at some point in
        the future.
    
        2. Confirmed - A Provider NSA sends this positive operation
        response message (such as "reserveConfirmed") to the Requester
        NSA that issued the original request message ("reserveRequest").
    
        3. Failed - A Provider NSA sends this negative operation response
        message (such as "reserveFailed") to the Requester NSA that
        issued the original request message ("reserveRequest").
    
        To fit this asynchronous NSI protocol into a synchronous SOAP
        over HTTP binding we require each of the Requester and Provider
        NSA to implement SOAP end points. Request messages are sent from
        the Requester NSA to the Provider NSA's SOAP end point, while
        Confirmed and Failed messages are sent from the Provider NSA to
        the Requester NSA SOAP end point. In addition, each of the
        Request, Confirmed, and Failed operations are defined with
        input (request), output (acknowledgment), and fault (error)
        messages as part of their WSDL definition. The output message,
        or response, for each operation is an element definition providing a
        simple acknowledgment with the request correlationId.
        
        Note on acknowledgment handling:
        Depending on NSA implementation and thread timing an acknowledgment to
        a request operation may be returned after the confirm/fail for the
        request has been returned to the Requesting NSA.
        
        The following guidelines for acknowledgment handling are proposed:
        
        1. For protocol robustness, Requesting NSA should be able to accept
        confirm/fail before acknowledgment.
        
        2. Acknowledgment should be sent by Provider NSA before the
        confirm/fail.
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema targetNamespace="http://schemas.ogf.org/nsi/2012/03/connection/interface"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

            <!-- Import the common NSI framework types. -->
            <xsd:import namespace="http://schemas.ogf.org/nsi/2012/03/framework/types"
                schemaLocation="ogf_nsi_framework_types_v2_0.xsd"/>
            
            <!--  Import common NSI framework header types. -->
            <xsd:import namespace="http://schemas.ogf.org/nsi/2012/03/framework/headers"
                schemaLocation="ogf_nsi_framework_headers_v2_0.xsd" />
            
            <!--  Import common NSI Connection Services types from protocol schema. -->
            <xsd:import namespace="http://schemas.ogf.org/nsi/2012/03/connection/types"
                    schemaLocation="ogf_nsi_connection_types_v2_0.xsd" />

            <!-- ********** Acknowledgment message element ********** -->
            <xsd:element name="acknowledgment"   type="tns:GenericAcknowledgmentType" />
            
            <!-- ********** Fault message element ********** -->
            <xsd:element name="serviceException" type="ftypes:ServiceExceptionType"/>
            
            <!-- ********** Acknowledgment type definition ********** -->
            <xsd:complexType name="GenericAcknowledgmentType">
                <xsd:annotation>
                    <xsd:documentation  xml:lang="en">
                        Common WSDL output message for acknowledgment of an NSI CS
                        request (input) message.
                        
                        Elements:
                        We have moved the correlationId to the header so this is
                        now an empty response.
                        
                        Notes on acknowledgment:
                        Depending on NSA implementation and thread timing an
                        acknowledgment to a request operation may be returned
                        after the confirm/fail for the request has been returned
                        to the Requesting NSA.
                        
                        The following guidelines for acknowledgment handling are
                        proposed:
                        
                        1. For protocol robustness, Requesting NSA should be
                        able to accept confirm/fail before acknowledgment.
                        
                        2. Acknowledgment should be sent by Provider NSA before
                        the confirm/fail.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence />
            </xsd:complexType>
            
        </xsd:schema>
    </wsdl:types>

   <!-- *************************************************************
        *         NSI protocol WSDL message definitions.            *
        ************************************************************* -->

    <!-- ********** NSI message header ********** -->
    <message name="header">
        <part name="header" element="headers:nsiHeader"/>
    </message>
     
    <!-- ********** Reserve message set ********** -->
    <wsdl:message name="reserve">
        <wsdl:part name="reserve" element="types:reserve" />
    </wsdl:message>

    <wsdl:message name="reserveConfirmed">
        <wsdl:part name="reserveConfirmed" element="types:reserveConfirmed" />
    </wsdl:message>

    <wsdl:message name="reserveFailed">
        <wsdl:part name="reserveFailed" element="types:reserveFailed" />
    </wsdl:message>

    <!-- ********** ModifyCheck message set ********** -->
    <wsdl:message name="modifyCheck">
        <wsdl:part name="modifyCheck" element="types:modifyCheck" />
    </wsdl:message>
    
    <wsdl:message name="modifyCheckConfirmed">
        <wsdl:part name="modifyCheckConfirmed" element="types:modifyCheckConfirmed" />
    </wsdl:message>
    
    <wsdl:message name="modifyCheckFailed">
        <wsdl:part name="modifyCheckFailed" element="types:modifyCheckFailed" />
    </wsdl:message>
    
    <!-- ********** Modify message set ********** -->
    <wsdl:message name="modify">
        <wsdl:part name="modify" element="types:modify" />
    </wsdl:message>
    
    <wsdl:message name="modifyConfirmed">
        <wsdl:part name="modifyConfirmed" element="types:modifyConfirmed" />
    </wsdl:message>
    
    <wsdl:message name="modifyFailed">
        <wsdl:part name="modifyFailed" element="types:modifyFailed" />
    </wsdl:message>

    <!-- ********** ModifyCancel message set ********** -->
    <wsdl:message name="modifyCancel">
        <wsdl:part name="modifyCancel" element="types:modifyCancel" />
    </wsdl:message>
    
    <wsdl:message name="modifyCancelConfirmed">
        <wsdl:part name="modifyCancelConfirmed" element="types:modifyCancelConfirmed" />
    </wsdl:message>
    
    <wsdl:message name="modifyCancelFailed">
        <wsdl:part name="modifyCancelFailed" element="types:modifyCancelFailed" />
    </wsdl:message>
    
    <!-- ********** Provision message set ********** -->
    <wsdl:message name="provision">
        <wsdl:part name="provision" element="types:provision" />
    </wsdl:message>

    <wsdl:message name="provisionConfirmed">
        <wsdl:part name="provisionConfirmed" element="types:provisionConfirmed" />
    </wsdl:message>

    <wsdl:message name="provisionFailed">
        <wsdl:part name="provisionFailed" element="types:provisionFailed" />
    </wsdl:message>

    <!-- ********** Release message set ********** -->
    <wsdl:message name="release">
        <wsdl:part name="release" element="types:release" />
    </wsdl:message>

    <wsdl:message name="releaseConfirmed">
        <wsdl:part name="releaseConfirmed" element="types:releaseConfirmed" />
    </wsdl:message>

    <wsdl:message name="releaseFailed">
        <wsdl:part name="releaseFailed" element="types:releaseFailed" />
    </wsdl:message>

    <!-- ********** Terminate message set ********** -->
    <wsdl:message name="terminate">
        <wsdl:part name="parameters" element="types:terminate" />
    </wsdl:message>

    <wsdl:message name="terminateConfirmed">
        <wsdl:part name="parameters" element="types:terminateConfirmed" />
    </wsdl:message>

    <wsdl:message name="terminateFailed">
        <wsdl:part name="parameters" element="types:terminateFailed" />
    </wsdl:message>

    <!-- ********** Query message set ********** -->
    <wsdl:message name="query">
        <wsdl:part name="query" element="types:query" />
    </wsdl:message>
    
    <wsdl:message name="queryConfirmed">
        <wsdl:part name="queryConfirmed" element="types:queryConfirmed" />
    </wsdl:message>

    <wsdl:message name="queryFailed">
        <wsdl:part name="queryFailed" element="types:queryFailed" />
    </wsdl:message>

    <!-- ********** Notification message set ********** -->
    <wsdl:message name="notification">
        <wsdl:part name="notification" element="types:notification" />
    </wsdl:message>
    
    <!-- ********** Acknowledgment message set ********** -->
    <wsdl:message name="acknowledgment">
        <wsdl:part name="acknowledgment" element="tns:acknowledgment" />
    </wsdl:message>
    
    <!-- ********** Fault message set ********** -->
    <wsdl:message name="serviceException">
        <wsdl:part name="serviceException" element="tns:serviceException"/>
    </wsdl:message>
</wsdl:definitions>
